<!DOCTYPE html>
<html lang="en" ng-app>

<head>
  <meta charset="utf-8">
  <title>ng-model</title>
  <!-- INCLUIR ESTILOS BOOTSTRAP -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- INCLUIR ANGULAR -->
  <script src="js/lib/angular.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="row">
      <h1>{{ "ng-model" }}</h1>
      <h4>en Angularjs</h4>

      <form class="" action="index.html" method="post">
        <label for="">Su nombre: {{ nombre | uppercase}}</label>
        <br>
        <input type="text" ng-model="nombre" class="form-control" placeholder="Ingrese su nombre" name="" value="">
        <br>

        <label for="">Seleccione el Pais: {{ pais }}</label>
        <br>
        <select class="form-control" name="" ng-model="pais">
  				<option value="1">Costa Rica</option>
  				<option value="2">Mexico</option>
  				<option value="3">Francia</option>
  			</select>
        <br>

        <!-- checkbox -->
        <label for="">Seleccione las opciones que desea: {{opt1}}{{opt2}}{{opt3}}</label>
        <br>
        <input type="checkbox" ng-model="opt1">Opcion 1
        <br>
        <input type="checkbox" ng-model="opt2">Opcion 2
        <br>
        <input type="checkbox" ng-model="opt3">Opcion 3
        <br>
        <!-- Radios -->
        <br>
        <label for="">Seleccione el Sexo: {{ genero }}</label>
        <br>
        <input type="radio" value="m" ng-model="genero">Masculino
        <input type="radio" value="f" ng-model="genero">Femenino

      </form>


    </div>


  </div>

</body>

</html>